
.div2{
    border: 0px solid;  
    top: 0;
    width: 100%;
    height: 100px;
    background-image: url('../images/dl上层.png') ;
    background-repeat: no-repeat;
    background-position: top;
    margin-left: -2px;
    margin-top: -2px;
    position: fixed;
    z-index: 2;
} 
.div3{
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/背景3.png') ;
    background-size: cover;
    background-position: center center; 
    margin-left: -8px;
    /*margin-top: 95px;*/
    position: fixed;
    z-index: 1;
}

.div1{
    box-shadow: rgb(18, 18, 19);
    border-radius:25px;
    background-color: #ffffff;
    width:400px;
    height: 350px;
    border: 0px solid;
    margin:0 auto;
    margin-top: 270px;
    margin-left: 900px;
    position: relative;
    z-index: 3; 
}

h2{
    padding-top: 20px;
    font-family: 宋体;
    margin-left: 150px;
    font-style: inherit;
}

#xh,#mm{
    width: 300px;
    height: 45px;
    margin-top: 20px;
    border-radius:50px;
    border-width: 1px;
    outline: none;
    margin-left: 30px;
    border-style:solid;
    border-color:rgb(234,237,244);
    font-size:120%
}

#xh:focus,#mm:focus{
    border-style:solid;
    border-color: rgb(61,141,255);
}

#dl{
    background:linear-gradient(to right,rgb(103,159,255) ,rgb(96,107,255));
    width: 85%;
    height: 45px;
    margin-top: 30px;
    border-radius:50px;
    outline: none;
    border-style: none; 
    color: #ffffff; 
    margin-left: 30px;
}

#dl:hover{
    background:linear-gradient(to right,rgb(130,187,255) ,rgb(118,125,255));
}

#dl:active{
    background:linear-gradient(to right,rgb(103,159,255) ,rgb(96,107,255));
}

#xh{
    background: url('../images/学号.png') no-repeat ;
    background-size: 20px 20px;     
    background-position: 12px 12px;
    padding-left: 40px;
}

#mm{
    background: url('../images/密码.png') no-repeat;
    background-size: 20px 20px;     
    background-position: 12px 12px;
    padding-left: 40px;
}

a{
    margin-top: 20px;
    margin-left: 50px;
    color:rgb(126,167,255); 
}

a:link{
    text-decoration: none;
}

a:focus{
    text-decoration: none;
    color: rgb(53, 99, 197);

}


    