body{
    background-color: rgb(242,244,247);
}

.s{
    box-shadow: rgb(236,239,243);
    border: 0px solid;  
    top: 0;
    width: 100%;
    height: 100px;
    background-image: url('../webapp/resource/images/dl上层.png') ;
    background-repeat: no-repeat;
    background-position: top;
    margin-left: -2px;
    margin-top: -2px;
    position: fixed;
    
} 

.zw{
    box-shadow: rgb(236,239,243);
    border-radius:25px;
    background-color: #ffffff;
    width:30%;
    height: 600px;
    border: 0px solid;
    margin:0 auto;
    margin-top: 150px;  
    position: relative;
    
}

h2{
    padding-top: 20px;
    font-family: 宋体;
    margin-left: 30px;
    font-style: normal;
}

.zn{
    width: 75%;
    height: 45px;
    margin-top: 20px;
    border-radius:50px;
    border-width: 1px;
    outline: none;
    margin-left: 30px;
    border-style:solid;
    border-color:rgb(234,237,244);
    font-size:120%
}

.zn:focus{
    border-style:solid;
    border-color: rgb(61,141,255);
}

#xh{
    background: url('../webapp/resource/images/学号.png') no-repeat ;
    background-size: 20px 20px;     
    background-position: 12px 12px;
    padding-left: 40px;
}

#yhm{
    background: url('../webapp/resource/images/姓名.png') no-repeat ;
    background-size: 20px 20px;     
    background-position: 12px 12px;
    padding-left: 40px;
}

#sjhm{
    background: url('../webapp/resource/images/手机号.png') no-repeat ;
    background-size: 20px 20px;
    background-position: 12px 12px;
    padding-left: 40px;
}

#mm{
    background: url('../webapp/resource/images/密码.png') no-repeat;
    background-size: 20px 20px;
    background-position: 12px 12px;
    padding-left: 40px;
}

#qrmm{
    background: url('../webapp/resource/images/确认密码.png') no-repeat;
    background-size: 20px 20px;     
    background-position: 12px 12px;
    padding-left: 40px;
}

#zc{
    text-decoration: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 4px;
    background:linear-gradient(to right,rgb(103,159,255) ,rgb(96,107,255));
    width: 85%;
    height: 55px;
    margin-top: 30px;
    border-radius:50px;
    outline: none;
    border-style: none; 
    color: #ffffff; 
    margin-left: 30px;
}

#zc:hover{
    background:linear-gradient(to right,rgb(130,187,255) ,rgb(118,125,255));
}

#zc:active{
    background:linear-gradient(to right,rgb(103,159,255) ,rgb(96,107,255));
}
.zx{
    margin-left: 50px;
    margin-top: 30px;

}
a{
    text-decoration: none;
    color: rgb(118,125,255);
}